@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  font-family: 'Roboto', serif;
}

::placeholder {
  font-size: 14px;
  color: #9f9f9f;
}

@layer components {
  .form-group {
    @apply flex flex-col gap-2 mb-2;
  }
}

@layer components {
  .form-control {
    @apply border-2 border-gray-300 rounded-md p-1 text-xs focus:border-primary outline-none text-grey;
  }
}

@layer components {
  .label {
    @apply text-xs text-grey font-medium;
  }
}

@layer components {
  .footer_links {
    @apply font-medium text-[16px] transition-all ease-linear duration-200 hover:text-primary hover:px-1;
  }
}

@layer components {
  .footer_title {
    @apply text-lightGrey font-medium text-sm;
  }
}

@layer components {
  .footer_list {
    @apply flex flex-col gap-2;
  }
}

@layer components {
  .btn_pagination {
    @apply bg-[#F9F1E7] text-black py-1 px-3 rounded-md text-[12px] block w-fit;
  }
}
@layer components {
  .cover-img {
    @apply h-full w-full object-cover;
  }
}
@layer components {
  .half-flex {
    @apply flex h-full flex-col md:flex-row gap-5;
  }
}


.table {
  display: table; 
  width: 100%;
}

.table-row {
  display: table-row;  
}

.table-cell {
  display: table-cell; 
  padding: 10px;
  text-align: left;
}
